<html>

  <title>Error 404 | Page Not Found</title>
  
  <body style='text-align:center'>
  
      <h3>404. Page Not Found.</h3>
      
      <h5>The page could not be found on this server. Please check your URL</h5>
      
      <a href='/'><button>HOME</button></a>
      
  </body>
  
</html>
