<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <%if(user){%>
        
            <title><%=user.fullName%></title>
            <link rel = "icon" href ="<%=user.profileImage%>" type = "image/x-icon"> 
        
        <%}else{%>
        
            <title>No users found</title>
        
        <%}%>

    </head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/sideBar.css" rel="stylesheet">

    <link href="/socialStyle.css" rel="stylesheet">

    <link href="/index/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    
        html {
            scroll-behavior: smooth;
        }

    </style>
    
    <body>

        <%if(user){%>

            <!------------------SIDENAV-------------------------------->
        
            <div class="sidenav">

                <div class="text-center">

                    <img style="width:100px" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%=user.profileImage%>" alt="">

                    <a href="#"><font size=4>About</font></a>
                    <a href="#projects"><font size=4>Projects</font></a>
                    <a href="#skills"><font size=4>Skills</font></a>
                    <a href="#experience"><font size=4>Experience</font></a>
                    <a href="#education"><font size=4>Education</font></a>
                    <a href="#awards"><font size=4>Awards</font></a>

                </div>

            </div>  

            <!-------------------------------------------------------------->

            <script>
            
                function showMore(id){

                    var element=document.getElementById(id);

                    if(element.style.display=="none"){
                        element.style.display="block";
                    }else{
                        element.style.display="none";
                    }

                }
            
            </script>

            <div style="margin-top:20px" class="main container">

                <div class="input-group" style="margin-bottom:20px">
                
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>

                    <input style="width:50px" id="users_search" onkeyup="searchUsers()" onclick="itemPopup('searchInPortfolio')" class="form-control" placeholder="Search User by email, username or name">
                
                    <a href="/" class="btn btn-info" style="margin-left:15px">Home</a>

                </div>

                <!-----------ABOUT-------------------------------->

                <%include ./userPortBlocks/about.ejs%>

                <!------------------------------------------------>


                <!-----------PROJECTS----------------------------->

                <%include ./userPortBlocks/projects.ejs%>

                <!------------------------------------------------->

                <!--------------SKILLS----------------------------->

                <%include ./userPortBlocks/skills.ejs%>

                <!------------------------------------------------->

                <!--------------EXPERIENCE----------------------------->

                <%include ./userPortBlocks/experience.ejs%>

                <!------------------------------------------------->

                <!---------------EDUCATION---------------------------->

                <%include ./userPortBlocks/education.ejs%>

                <!------------------------------------------------->

                <!--------------AWARDS----------------------------->

                <%include ./userPortBlocks/awards.ejs%>

                <!------------------------------------------------->

                <br>

                <%include ./addMore/projects.ejs%>
                <%include ./addMore/skills.ejs%>
                <%include ./addMore/experience.ejs%>
                <%include ./addMore/education.ejs%>
                <%include ./addMore/awards.ejs%>
                <%include ./addMore/about.ejs%>
                <%include ./searchInPortfolio.ejs%>

            </div>

        <%}else{%>

            <div style="margin-top:20px" class="text-center">
                
                <h1>No users found in the Database</h1>
                
                <a href="/"><button  style="margin-top:30px;" class="btn btn-success">Home</button></a>
            
            </div>

        <%}%>

        

    </body>

</html>